<div>
    <div class="card" style="width: 18rem;">
        <img width="200" src="<%= image_url %>" class="card-img-top" alt="anime image">
        </div>

<!-- <img src="<%= //image_url %> " alt="anime image"> -->

<h1>
    <%= title_english %>
    <%= title %>
</h1>

<h4>
    Episodes in anime: <%= episodes %>   
 </h4>
<h5>
   Rating: <%= score %>
</h5>
<h6 id="animeSynopsis">
    <%= synopsis %>
</h6>

</div>

<form method="POST" action="/faves/addFave">
    <input hidden type="text" name="animeId" value="<%= animeId %>" >
    <input hidden type="text" name="title_english" value="<%= title_english %>" >
    <input hidden type="text" name="title" value="<%= title %>" >
    <input hidden type="text" name="image_url" value="<%= image_url %>" >
    <input hidden type="text" name="episodes" value="<%= episodes %>" >
    <input hidden type="text" name="score" value="<%= score %>" >
    <input hidden type="text" name="synopsis" value="<%= synopsis %>" >
    <button type="submit">Add to your profile</button>
</form>