<div>
    <div class="card" style="width: 18rem;">
        <img width="200" height="300" src="<%= image_url %>" class="card-img-top" alt="character image">
        </div>


<h1>
    <%= name %>
</h1>

<h2>
    <%= nicknames %>
</h2>

<h3>
   Anime: <%= animeName %>
</h3>

<h4>
    About: <%= about %>
</h4>

<h5>
    Voice actor: <%= voice_actors %>
</h5>

<h6>   
   <img width="50" height="80" src="<%= voiceActorImage %>" class="card-img-top" alt="voice actor image"> 
</h6>

</div>

