<%if(image_url === undefined) {%>
    <h3></h3>
<%} else {%>
    <div>
        <div class="card" style="width: 18rem;">
            <img width="200" height="300" src="<%= image_url %>" class="card-img-top" alt="character image">
        </div>
<%}%>


<%if(name===undefined) {%>
    <h1>No name</h1>
    <%} else {%>
        <h1>
            <%= name %>
        </h1>
        <%}%>

<%if(nicknames === undefined) {%>
    <h2></h2>
<%} else {%>
    <h2>
        <%= nicknames %>
    </h2>
<%}%>

<%if(animeName === undefined) {%>
    <h3></h3>
<%} else {%>
    <h3>
        <%= animeName %>
    </h3>
<%}%>

<%if(about === undefined) {%>
    <h3></h3>
<%} else {%>
    <h3>
      About:  <%= about %>
    </h3>
<%}%>


<%if(voice_actors === undefined) {%>
    
<%} else {%>
    <%voice_actors.forEach(function(voiceActor) {%>
        <img width="100" height="150" src="<%= voiceActor.image_url %>" class="card-img-top" alt="voice actor image"> <br>
        <h4>
            Voice actor: <%= voiceActor.name %>
        </h4> 
            Language: <%= voiceActor.language %> 
                <br> <br>
        <%})%>

<%}%>

</div>


<form method="POST" action="/characterFaves/addCharacterFave">
    <input hidden type="text" name="mal_id" value="<%= mal_id %>" >
    <input hidden type="text" name="name" value="<%= name %>" >
    <input hidden type="text" name="animeName" value="<%= animeName %>" >
    <input hidden type="text" name="image_url" value="<%= image_url %>" >
    <input hidden type="text" name="voice_actors" value="<%= voice_actors %>" >
    <input hidden type="text" name="nicknames" value="<%= nicknames %>" >
    <input hidden type="text" name="about" value="<%= about %>" >
    <button type="submit">Add to your profile</button>
</form>













