<div>
    <div class="card" style="width: 18rem;">
        <img width="200" src="<%= image_url %>" class="card-img-top" alt="anime image">
</div>

<!-- <img src="<%= //image_url %> " alt="anime image"> -->

<h1>
    <%= title_english %>
</h1>

<h4>
    Episodes in anime: <%= episodes %>   
 </h4>
<h5>
   Rating: <%= score %>
</h5>
<h6 id="animeSynopsis">
    <%= synopsis %>
</h6>

</div>

