<div>
    <div class="card" style="width: 18rem;">
        <img width="200" height="300" src="<%= image_url %>" class="card-img-top" alt="anime image">
        </div>

<!-- <img src="<%= //image_url %> " alt="anime image"> -->

<h1>
    <%= title_english %>
</h1>
<h1>
    <%= title %>
</h1>


<h4>
    Episodes in anime: <%= episodes %>   
 </h4>
<h5>
   Rating: <%= score %>
</h5>
<h4 id="animeSynopsis">
    <%= synopsis %>
</h4>

</div>