<h2><%= currentUser.name %>'s Profile</h2>


<h3>
    About Me: <br>
    <form action="/aboutMe/update/<%= currentUser.id %>/?_method=PUT" method="POST">
    <input type="text" name="aboutMe" id="aboutMe" value="<%= aboutMe || "" %>">
    <button type="submit">Update</button>
    </form>
</h3>


<h3>
    Favorite Animes Watched:
</h3>

<%if(results === undefined) {%>
    <h3>No Favorites Found</h3>
<%} else {%>
    <ul>
        <%results.forEach(function(result) {%>
            <li>
                <a href="/anime/<%=result.animeId%>">
                    <%=result.name%>
                </a>
            </li>
            <form action="/faves/anime/<%=result.animeId%>?_method=DELETE" method="POST">
                <button type="submit">Remove from favorites</button>
            </form>
            <%})%>
    </ul>
<%}%> 
<br> <br>

<h3>
Favorite Characters:
</h3>
<%if(characterResults === undefined) {%>
    <h3>No Favorites Found</h3>
<%} else {%>
    <ul>
        <%characterResults.forEach(function(result) {%>
            <li>
                <a href="/character/<%=result.mal_id%>">
                    <%=result.name%>
                </a>
            </li>
            <form action="/faves/character/<%=result.mal_id%>?_method=DELETE" method="POST">
                <button type="submit">Remove from favorites</button>
            </form>
            <%})%>
    </ul>
<%}%>